name: Build for Linux

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  make:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # https://github.com/macbre/maszyna?tab=readme-ov-file#linux
    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
          build-essential \
          libgl1-mesa-dev \
          libglew-dev \
          libglfw3-dev \
          python3-dev \
          libpng-dev \
          libopenal-dev \
          libluajit-5.1-dev \
          libserialport-dev \
          libsndfile1-dev \
          librust-wayland-protocols-dev \
          waylandpp-dev

    - name: Build
      run: |
        set -x

        # Create directory for CMake build files
        mkdir build && cd build

        #  Generate Makefiles (NVRHI is not supported on Linux)
        cmake .. -DWITH_BETTER_RENDERER=OFF

        # Compile using all cores
        make -j"$(nproc)"

    # TODO: publish artifacts
