name: Build for Linux

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  make:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        # Whether to checkout submodules: `true` to checkout submodules or `recursive` to
        # recursively checkout submodules.
        submodules: 'recursive'

    # https://github.com/macbre/maszyna?tab=readme-ov-file#linux
    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
          build-essential \
          libgl1-mesa-dev \
          libglew-dev \
          libglfw3-dev \
          python3-dev \
          libasio-dev \
          libpng-dev \
          libopenal-dev \
          libluajit-5.1-dev \
          libserialport-dev \
          libsndfile1-dev \
          librust-wayland-protocols-dev \
          waylandpp-dev

    - name: Build
      run: |
        set -x

        # Show some versions
        python3 -V

        # Create directory for CMake build files
        mkdir build && cd build

        # Generate Makefiles:
        # * NVRHI is not supported on Linux
        # * -DPYTHON: https://stackoverflow.com/a/38121972/5446110
        cmake .. \
          -DWITH_BETTER_RENDERER=OFF \
          -DPYTHON_INCLUDE_DIR=$(python3 -c "import sysconfig; print(sysconfig.get_path('include'))") \
          -DPYTHON_LIBRARY=$(python3 -c "import sysconfig; print(sysconfig.get_config_var('LIBDIR'))")

        # Compile using all cores
        make -j"$(nproc)"

    # TODO: publish artifacts
