name: Build for Linux

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  make:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        # Whether to checkout submodules: `true` to checkout submodules or `recursive` to
        # recursively checkout submodules.
        submodules: 'recursive'

    # https://github.com/macbre/maszyna?tab=readme-ov-file#linux
    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
          build-essential \
          libgl1-mesa-dev \
          libglew-dev \
          libglfw3-dev \
          python3-dev \
          libxkbcommon-dev \
          libxinerama-dev \
          libxcursor-dev \
          libxi-dev \
          libasio-dev \
          libpng-dev \
          libopenal-dev \
          libreadline6 \
          libluajit-5.1-dev \
          libserialport-dev \
          libsndfile1-dev \
          librust-wayland-protocols-dev \
          waylandpp-dev
    
    # MaSzyna requires Pythnon 2.7 (Ubuntu's runners no longer support Python 2.x)
    # See https://github.com/MaSzyna-EU07/maszyna/pull/41
    - name: Install Python 2.7
      env:
        PYTHON_VERSION: "2.7"
      run: |
        set -x
        # https://github.com/pyenv/pyenv
        curl -fsSL https://pyenv.run | bash

        export PYENV_ROOT="$HOME/.pyenv"
        [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$(pyenv init - bash)"

        pyenv prefix
        # needs libreadline
        pyenv install ${PYTHON_VERSION}
        pyenv versions
        pyenv global ${PYTHON_VERSION}

    - name: Build
      run: |
        set -x

        # Show some versions
        python -V

        # Create directory for CMake build files
        mkdir build && cd build

        # Generate Makefiles:
        # * NVRHI is not supported on Linux
        # * -DPYTHON: https://stackoverflow.com/a/38121972/5446110
        cmake .. \
          -DCMAKE_BUILD_TYPE=Release \
          -DWITH_BETTER_RENDERER=OFF \
          -DPYTHON_INCLUDE_DIR=$(python -c "import sysconfig; print(sysconfig.get_path('include'))") \
          -DPYTHON_LIBRARY=$(python -c "import sysconfig; print(sysconfig.get_config_var('LIBDIR'))")

        # Compile using all cores
        make -j"$(nproc)"

    # TODO: publish artifacts
